@import "tailwindcss";
@theme {
  --color-theme: #f45625;
  --color-text: #525252;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: var( --color-theme);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text);
}
button {
  cursor: pointer !important;
}

.test {
  border: 1px solid red;
}

@layer utilities {
  @keyframes clipRevealUp {
    0% {
      clip-path: inset(100% 0 0 0);
      opacity: 0;
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
  }

  .clip-reveal-up {
    clip-path: inset(100% 0 0 0);
    animation: clipRevealUp 0.8s ease-out forwards;
    opacity: 0;
  }
}
